/*Page style*/
body {
	text-align: center;
    background-color: #1D2951;
}

/*General text style*/
h1 {
	color: #1D2951;
	font-family: Russo One, Trebuchet MS, Sans-serif;
	background-color: #C0C5CE;
}
p {
	color: #1D2951;
	font-family: Mooli, Helvetica, Sans-serif;
}
#disclaimer {
	color: #C0C5CE;
	width: 40%;
	position: relative;
	left:30%;
	right:30%;
}

/*Table style*/
#planets {
	background-color: #505150;
	width: 50%;
	position: relative;
	left:25%;
	right:25%;
  }
td, th {
	border: 3px;
	border-style: outset;
	border-color: #1D2951;
	color: #C0C5CE;
	font-family: Mooli, Helvetica, Sans-serif;
  }
#table-invis {
	border: 0px;
	background-color: #1D2951;
  }
.datahead {
	font-weight: bold;
}
  
/*Footer style*/
footer {
	background-color: #C0C5CE;
	border-radius: 25%;
}

/*Customized data table colors*/
.vendat {
	color: #d59735;
	background-color: #a05815;
}
.mardat {
	color: #cead77;
	background-color: #695d48;
}
.moodat {
	color: #74848c;
	background-color: #434b4c;
}
.pludat {
	color: #bb9b7e;
	background-color: #4c331e;
}
#venhead {
	color: #a05815;
	background-color: #d59735;
}
#marhead {
	color: #695d48;
	background-color: #cead77;
}
#moohead {
	color: #434b4c;
	background-color: #74848c;
}
#pluhead {
	color: #4c331e;
	background-color: #bb9b7e;
}