/*Page style*/
body {
	text-align: center;
}
main {
	background-color: #1D2951;
}

/*General text style*/
h1 {
	color: #1D2951;
	font-family: Russo One, Trebuchet MS, Sans-serif;
	background-color: #C0C5CE;
}
p {
	color: #1D2951;
	font-family: Mooli, Helvetica, Sans-serif;
}
#disclaimer {
	color: #C0C5CE;
	width: 40%;
	position: relative;
	left:30%;
	right:30%;
}

/*Table style*/
#planets {
	background-color: #505150;
	width: 50%;
	position: relative;
	left:25%;
	right:25%;
  }
td, th {
	border: 3px;
	border-style: outset;
	border-color: #1D2951;
	color: #C0C5CE;
	font-family: Mooli, Helvetica, Sans-serif;
  }
#table-invis {
	border: 0px;
	background-color: rgb(0, 0, 0, 0)!important;
  }
  
/*Footer style*/
footer {
	background-color: #C0C5CE;
}