h1 {
	color: #1D2951;
}

#planets {
	background-color: #505150;
  }

td, th {
	border: 3px;
	border-style: outset;
	border-color: #1D2951;
	color: #C0C5CE;
  }

#table-invis {
	border: 0px;
	background-color: rgba(0,0,0,0);
  }
  